# Dependencies
node_modules/
.pnp
.pnp.js

# Production
build/
dist/

# Environment variables
.env
.env.local

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.db.backup-*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db


# Temporary files
*.tmp
*.temp
